h3,p,a
{
  font-family: Hack,monospace;
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align:center;
  text-decoration: none;
}
body
{
  background-color: #4286f4;
}
#banner
{
  float: left;
  padding-left: 0;
}
.btn-grad
{
  background-image:
  linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%)
}
.btn-grad:hover 
{
  background-position: right center;
}
