html {
	background-color: lavender;
}

div {
    margin: 0px auto 0px auto;
    text-align: center;
    padding: 10px 0;
    overflow: hidden;    
}
div .kid {
    margin: 0px auto 0px auto;
}
/*footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;  
 }*/